# Query the Dataset in S3 using Amazon Athena and AWS Glue Catalog
This will create an Athena table in the Glue Catalog (Hive Metastore) which allows us to query the dataset files in S3.  We will create a table in the Glue Catalog based on the `Amazon Customer Reviews Dataset` in S3.  We define the columns that map to the data, specify how the data is formatted, and provide the location in Amazon S3 for the file(s).

<img src="img/athena_register_parquet.png" width="60%" align="left">

In [3]:
import boto3
import sagemaker

sess = sagemaker.Session()
print('sess :{}'.format(sess))
bucket = sess.default_bucket()
print('bucket :{}'.format(bucket))
role = sagemaker.get_execution_role()
print('role : {}'.format(role))
region = boto3.Session().region_name
print('region : {}'.format(region))
account_id = boto3.client("sts").get_caller_identity().get("Account")
print('account_id : {}'.format(account_id))

sess :<sagemaker.session.Session object at 0x7f8e2c755610>
bucket :sagemaker-ap-northeast-2-870327349328
role : arn:aws:iam::870327349328:role/service-role/AmazonSageMaker-ExecutionRole-20210511T115517
region : ap-northeast-2
account_id : 870327349328

In [2]:
from pyathena import connect
import pandas as pd

# Create Athena Table for Parquet Data

#### Dataset columns

- `marketplace`: 2-letter country code (in this case all "US").
- `customer_id`: Random identifier that can be used to aggregate reviews written by a single author.
- `review_id`: A unique ID for the review.
- `product_id`: The Amazon Standard Identification Number (ASIN).  `http://www.amazon.com/dp/<ASIN>` links to the product's detail page.
- `product_parent`: The parent of that ASIN.  Multiple ASINs (color or format variations of the same product) can roll up into a single parent.
- `product_title`: Title description of the product.
- `product_category`: Broad product category that can be used to group reviews (in this case digital videos).
- `star_rating`: The review's rating (1 to 5 stars).
- `helpful_votes`: Number of helpful votes for the review.
- `total_votes`: Number of total votes the review received.
- `vine`: Was the review written as part of the [Vine](https://www.amazon.com/gp/vine/help) program?
- `verified_purchase`: Was the review from a verified purchase?
- `review_headline`: The title of the review itself.
- `review_body`: The text of the review.
- `review_date`: The date the review was written.

In [4]:
s3_staging_dir = "s3://{}/athena/query-cache".format(bucket)

In [5]:
database_name = "default"
table_name = "amazon_reviews_parquet"

In [6]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [11]:
# SQL statement to execute
statement = """
    CREATE EXTERNAL TABLE {}.{}(
      marketplace string, 
      customer_id string, 
      review_id string, 
      product_id string, 
      product_parent string, 
      product_title string, 
      star_rating int, 
      helpful_votes int, 
      total_votes int, 
      vine string, 
      verified_purchase string, 
      review_headline string, 
      review_body string, 
      review_date bigint, 
      year int)
    PARTITIONED BY (product_category string)
    ROW FORMAT SERDE 
      'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe' 
    STORED AS INPUTFORMAT 
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat' 
    OUTPUTFORMAT 
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
    LOCATION
      's3://amazon-reviews-pds/parquet/'
""".format(
    database_name, table_name
)

print(statement)

pd.read_sql(statement, conn)

    CREATE EXTERNAL TABLE default.amazon_reviews_parquet(
      marketplace string,
      customer_id string,
      review_id string,
      product_id string,
      product_parent string,
      product_title string,
      star_rating int,
      helpful_votes int,
      total_votes int,
      vine string,
      verified_purchase string,
      review_headline string,
      review_body string,
      review_date bigint,
      year int)
    PARTITIONED BY (product_category string)
    ROW FORMAT SERDE
      'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
    STORED AS INPUTFORMAT
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
    OUTPUTFORMAT
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
    LOCATION
      's3://amazon-reviews-pds/parquet/'

DatabaseError: Execution failed on sql:
    CREATE EXTERNAL TABLE default.amazon_reviews_parquet(
      marketplace string,
      customer_id string,
      review_id string,
      product_id string,
      product_parent string,
      product_title string,
      star_rating int,
      helpful_votes int,
      total_votes int,
      vine string,
      verified_purchase string,
      review_headline string,
      review_body string,
      review_date bigint,
      year int)
    PARTITIONED BY (product_category string)
    ROW FORMAT SERDE
      'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
    STORED AS INPUTFORMAT
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
    OUTPUTFORMAT
      'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
    LOCATION
      's3://amazon-reviews-pds/parquet/'

FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. AlreadyExistsException(message:Table amazon_reviews_parquet already exist)
unable to rollback

# Analyze and Build the Partitions

In [12]:
statement = """
    MSCK REPAIR TABLE {}.{}
""".format(
    database_name, table_name
)

print(statement)

pd.read_sql(statement, conn)

    MSCK REPAIR TABLE default.amazon_reviews_parquet

Empty DataFrame
Columns: []
Index: []

# Verify The Table Has Been Created Succesfully

In [13]:
statement = "SHOW TABLES in {}".format(database_name)

df_tables = pd.read_sql(statement, conn)
df_tables

                 tab_name
0  amazon_reviews_parquet

# Run A Sample Query

In [14]:
product_category = "Digital_Software"

statement = """
    SELECT * FROM {}.{}
    WHERE product_category = '{}' LIMIT 100
""".format(
    database_name, table_name, product_category
)

print(statement)

    SELECT * FROM default.amazon_reviews_parquet
    WHERE product_category = 'Digital_Software' LIMIT 100

In [15]:
df = pd.read_sql(statement, conn)
df.head(5)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,year,product_category
0,US,44616235,R16IFU19DG9G8A,B00G0DZ09M,544818235,H&R Block At Home 2013 Premium + Business,1,1,1,N,Y,Terrible.,I've used this software for the last couple ye...,16170,2014,Digital_Software
1,US,52225530,R1DWNT5THWT7FM,B00FH4QXXW,384809414,PowerDirector 12 Ultra,5,0,0,N,Y,I like it,love the new feel of this edtion. Runs very s...,16392,2014,Digital_Software
2,US,42497070,R6T0YZ4ZHR1CM,B00HS1UAE0,765516182,Easy Password Storage [Download],2,1,2,N,Y,It's not what I wanted.,I was looking for a program that would run in ...,16170,2014,Digital_Software
3,US,13418761,RTPJ978FYWR46,B00MH8L6W4,224892688,Dragon NaturallySpeaking Home 13.0,4,3,4,N,Y,A learning Process,For this review I'm using the actual product D...,16392,2014,Digital_Software
4,US,24948078,R2RBGHKQTCRRI,B00FFIO0NA,386795082,"TurboTax Premier Fed, Efile and State 2013",4,0,0,N,Y,works,It works and works good. The only confusion wa...,16170,2014,Digital_Software

In [16]:
if df.empty:
    print("++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOUR DATA HAS NOT BEEN REGISTERED WITH ATHENA.")
    print("LOOK IN PREVIOUS CELLS TO FIND THE ISSUE.             ")
    print("++++++++++++++++++++++++++++++++++++++++++++++++++++++")
else:
    print("[OK]")

[OK]

In [17]:
if "amazon_reviews_parquet" in df_tables.values and not df.empty:
    ingest_create_athena_table_parquet_passed = True

In [18]:
%store ingest_create_athena_table_parquet_passed

Stored 'ingest_create_athena_table_parquet_passed' (bool)

# Review the New Athena Table in the Glue Catalog

In [ ]:
from IPython.core.display import display, HTML

display(
    HTML(
        '<b>Review <a target="top" href="https://console.aws.amazon.com/glue/home?region={}#table:catalog={};name=amazon_reviews_parquet;namespace=default">AWS Glue Catalog</a></b>'.format(
            region, account_id
        )
    )
)

# Store Variables for the Next Notebooks

In [ ]:
%store

# Release Resources

In [ ]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>